.hosting {
  width: 100%;
  height: 509px;
  background-color: #000000;
}

.hostingTip {
  margin: auto;
  padding: 64px 80px 24px 80px;
  width: 84.2vw;
  height: 397px;
  color: #ffffff;
}

.hostingTip h1 {
  padding-left: 8px;
  font-size: 1.625em;
}

.container {
  display: flex;
  height: 343px;
}

.section {
  margin: 0 8px;
  border-radius: 12px;
  background-color: #222222;
}

.section img {
  width: 20.2vw;
  height: 15.2vw;
  border-radius: 12px;
}

.title {
  margin-top: 8px;
  padding: 24px;
  line-height: 22px;
  font-weight: 600;
}

@media screen and (max-width: 769px) {
  .hostingTip {
    margin: 0;
    padding: 20px 0 0 20px;
  }
  .container {
    flex-direction: column;
  }
  .section {
    display: flex;
    width: 675px;
    height: 96px;
    margin-bottom: 12px;
  }
  .section img {
    width: 96px;
    height: 96px;
  }
}
