/* main */
.viewAndMap {
  display: flex;
}

/* navbar */
.navbar {
  width: 1471px;
  position: fixed;
  top: 0;
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 12px #e9e7e7;
  background-color: #ffffff;
  z-index: 1;
}

.navbar__logo {
  width: 558px;
  color: #ff395d;
}

.navbar__contact {
  width: 558px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar__contact a {
  width: 102px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
}

.navbar__contact a:hover {
  background-color: rgb(247, 247, 247);
}

.navbar__language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 42px;
  border-radius: 50%;
}

.navbar__language:hover {
  background-color: rgb(247, 247, 247);
}

.contact__button {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 77px;
  height: 42px;
  margin: 5px 5px 5px 12px;
  border-radius: 40px;
  border: 1px solid #ccc9c9;
}

.contact__button:hover {
  box-shadow: 1px 1px 5px #c7c7c7;
}

.button__menu {
  padding-left: 5px;
  color: #222222;
}

.button__login {
  width: 30px;
  height: 30px;
  color: #717171;
}

.search {
  width: 310px;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 32px;
  border: 1px solid #ccc9c9;
}

.search:hover {
  box-shadow: 1px 1px 5px #c7c7c7;
}

.search__area {
  width: 70px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: 600;
}

.search__date {
  width: 92px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: 600;
}

.search__box {
  width: 146px;
  display: flex;
  align-items: center;
}

.search__line {
  width: 1px;
  height: 24px;
  background-color: #ccc9c9;
}

.search__box__guest {
  font-size: 14px;
  padding: 0 16px;
  color: rgb(113, 113, 113);
}

.search__box__button {
  width: 12px;
  height: 12px;
  padding: 10px;
  margin: 7px 7px 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff385c;
}

.search__box__button svg {
  width: 12px;
  height: 12px;
  color: #ffffff;
}

.navbar__logo__fixed {
  color: #0f0f0f;
}

/* main__left */

.main__left {
  width: 840px;
}

.main__information {
  margin-top: 80px;
  padding: 0 24px;
}

.main__title {
  padding-top: 50px;
}

.main__title h3 {
  font-size: 14px;
  line-height: 18px;
  color: rgb(34, 34, 34);
  padding-bottom: 8px;
}

.main__area {
  font-size: 32px;
  font-weight: 800;
}

.main__option {
  padding-top: 20px;
}

.main__option button {
  margin: 10px 4px 4px 0;
  padding: 8px 16px;
  font-size: 14px !important;
  line-height: 18px !important;
  border-radius: 30px;
  border: 1px solid rgb(176, 176, 176);
  background-color: transparent;
}

.main__option button:hover {
  box-shadow: 1px 1px 3px #a3a2a2;
}

.main__fare {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(113, 113, 113);
}

.main__restriction {
  display: flex;
  margin-top: 24px;
  font-size: 14px;
  line-height: 18px;
}

.main__restriction a {
  text-decoration: underline;
}

/* main__view */

.main__view {
  padding: 0 24px;
}

.main__first {
  width: 792px;
  height: 266px;
  padding: 8px 8px 12px 0;
}

.main__first__line {
  width: 792px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgb(235, 235, 235);
}

.main__section {
  display: flex;
}

.view__image {
  width: 300px;
  height: 200px;
  position: relative;
}

.view__image img {
  display: inline-block;
  width: 300px;
  height: 200px;
  border-radius: 14px;
}

.image__super_host {
  width: 80px;
  height: 25px;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  line-height: 25px;
  border: 0.5px solid #222222;
}

.view__description {
  margin-left: 16px;
}

.view__titleAndHeart {
  display: flex;
}

.view__title {
  width: 436px;
  margin-right: 16px;
}

.view__title h3 {
  font-size: 14px;
  color: #717171;
  margin-bottom: 4px;
}

.view__title h2 {
  font-size: 18px !important;
  line-height: 24px !important;
}

.view__heart {
  width: 48px;
  height: 48px;
  position: relative;
  top: -12px;
  right: 12px;
  font-size: 22px;
  color: #4e4d4d;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
}

.view__heart:hover {
  background-color: rgb(245, 245, 245);
}

.view__line {
  width: 32px;
  height: 0;
  margin-top: 9px;
  border-top: 1px solid #dddddd;
}

.view__option {
  color: #717171 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}

.view__option__first {
  margin-top: 9px;
}

.view__option__second {
  margin-top: 4px;
}

.view__review {
  display: flex;
  align-items: flex-end;
  height: 92px;
  font-size: 14px;
}

.view__review i {
  color: #ff395d;
  margin-right: 4px;
}

.section__underline {
  width: 792px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 4px;
  background-color: rgb(235, 235, 235);
}

.main__rest {
  width: 792px;
  height: 229px;
  padding: 8px 8px 12px 0;
}

/* page */

.page {
  width: 840px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__turn_over {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 32px;
}

.page__prev {
  background-color: transparent;
  border-style: none;
}

.pageItem {
  display: flex;
}

.pageLink {
  text-align: center;
  line-height: 30px;
  margin: 0 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}
.pageLink:hover {
  background-color: rgb(243, 243, 243);
}

.page__number.present {
  color: #ffffff;
  background-color: #000000;
}

.page__next {
  background-color: transparent;
  border-style: none;
  margin-left: 16px;
}

.page__next i {
  font-size: 14px;
  margin-left: 16px;
  color: #222222;
}

.page__sequence {
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 32px;
  color: #222222;
}

.page__text {
  font-size: 14px;
  color: #717171;
}

/* map */

.main__map {
  position: sticky;
  top: 80px;
  right: 0;
}
.viewbox {
  width: 200px;
  height: 200px;
  background-color: #ff395d;
}
